<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Create Course</title>
</head>
<body>


<form th:action="@{/admin/createCourse}" method="post" th:object="${courseDTO}">

Code: <input type="text" th:field="*{code}" />
    <br>
    Name: <input type="text" th:field="*{name}" />
    <br>
    Year: <input type="text" th:field="*{year}" />
    <br>


    <select th:field="*{teacherId}">

        <option th:each="teacher : ${teachers}" th:value="${teacher.teacherId}"  th:text="${teacher.firstName}+' '+${teacher.lastName}"/>

    </select>
    <br>
    <button type="submit">Create Course</button>

</form>
</body>
</html>